/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 5%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
    border-bottom: 2px solid #1c1c1c;
}

.navbar p, h1 {
    color: white;
    padding-left: 15%;
}

.sideButton {
    color: darkgray;
    padding-left: 15%;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
    border-bottom: 2px solid #1c1c1c;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    background-color: darkgray;
}

#header {
    color: darkgray;
    padding-left: 1%;
    padding-top: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #0f0f0f;
    border-right: 2px solid #1c1c1c;
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
    position: fixed;
    height: 100%;
}

body {
    padding-left: 11%;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

input {
    background-color: #0f0f0f;
    height: 40px;
    border: 2px solid #1c1c1c;
    border-radius: 50px;
    padding-left: 10px;
    color: white;
    width: 30%;
    margin-bottom: 1%;
}

.review-container, .review-button {
    display: inline-block;
    padding-left: 1%;
    padding-top: 0.5%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
    color: darkgray;
}

.likeButton {
    background-color: #0f0f0f;
    color: darkgray;
}

.video-title {
    color: #fff;
}

/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: #0f0f0f;
}

/* Effects */

.navbar p:hover {
    background-color: #1c1c1c;
}

button:hover {
    border: 2px solid white;
}

