<div class="slideshow-container">

    <div class="myslides fade">
        <div class="numberText">1/3</div>
        <img src="../../SliderImg/london.jpg" style="width: 100%;" />
        <div class="Text">First</div>
    </div>

    <div class="myslides fade">
        <div class="numberText">2/3</div>
        <img src="../../SliderImg/ny.jpg" style="width: 100%;" />
        <div class="Text">Second</div>
    </div>

    <div class="myslides fade">
        <div class="numberText">3/3</div>
        <img src="../../SliderImg/spb.jpg" style="width: 100%;" />
        <div class="Text">Third</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094</a>
    <a class="next" onclick="plusSlides(1)">&#10095</a>

</div>

<div style="text-align: center; max-width: 1000px;">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>