<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
    <script defertype="text/javascript" src="../Static/JS/index.js"></script>
    <script>
        // checkAge();

        sessionLog();
   
        const inputParseFunction = function ()
        {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }

    </script>
</head>

<body>

    <header id="header">
        <input type="search" oninput="filterContent()" placeholder="Search" />
    </header>

    <!--SIDEBAR-->

    <main>
        <div class="bordered">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1hNF3Wuw0LI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">New York City</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KHIApygKGT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Korea</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
            </div>
        </div>
    </main>

    <!--FOOTER-->

</body>

</html>